@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-canvas: light-dark(var(--grey-50), var(--grey-900));
  --color-canvas2: light-dark(var(--grey-100), var(--grey-800));
  --color-canvas-text: light-dark(var(--grey-900), var(--grey-50));
  --color-border: light-dark(var(--grey-300), var(--grey-600));
  --color-muted: light-dark(var(--grey-600), var(--grey-300));
  --color-on-accent: #fff;

  --color-brand: #b04a75;
  --color-brand-light: color-mix(in oklab, var(--color-brand), white 10%);
  --color-brand-dark: color-mix(in oklab, var(--color-brand), black 10%);

  --text-h1: 26px;
  --text-h1--line-height: 1;
  --text-h1--font-weight: 600;
  --text-h2: 22px;
  --text-h2--line-height: 1;
  --text-h2--font-weight: 600;
  --text-h3: 18px;
  --text-h3--line-height: 1;
  --text-h3--font-weight: 600;

  --text-body: 16px;
  --text-body--line-height: 1.2;
  --text-body--font-weight: 400;
}

:root {
  --grey-base: oklch(82% 0.05 250);
  --grey-50: color-mix(in oklab, var(--grey-base), white 95%);
  --grey-100: color-mix(in oklab, var(--grey-base), white 90%);
  --grey-300: color-mix(in oklab, var(--grey-base), white 60%);
  --grey-600: color-mix(in oklab, var(--grey-base), black 45%);
  --grey-800: color-mix(in oklab, var(--grey-base), black 60%);
  --grey-900: color-mix(in oklab, var(--grey-base), black 75%);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  accent-color: var(--color-brand);

  @apply bg-gradient-to-br sm:bg-gradient-to-tr from-canvas via-canvas to-canvas-text/10 text-canvas-text text-body;
}

html,
body {
  height: 100dvh;
}

input,
select,
textarea {
  font-size: 16px;
}

dialog::backdrop {
  @apply bg-canvas/10;
  backdrop-filter: blur(5px);
}

@keyframes slide-up {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

@layer utilities {
  .animate-slide-up {
    animation: slide-up 200ms ease-out;
  }
}

@layer components {
  .section {
    @apply p-4 rounded-2xl border border-border mb-6;
  }

  .fancy-nav {
    --padding: 8px;
    @apply flex;

    @media (hover: hover) and (pointer: fine) {
      &::before {
        content: "";
        position-anchor: --li-hover;
        inset: calc(anchor(start)) calc(anchor(end) + var(--padding))
          calc(anchor(end)) calc(anchor(start) + var(--padding));
        @apply absolute bg-border pointer-events-none rounded-lg;
        transition: 0.15s;
      }
    }

    &::after {
      content: "";
      position-anchor: --li-active;
      inset: calc(anchor(start)) calc(anchor(end) + var(--padding))
        calc(anchor(end)) calc(anchor(start) + var(--padding));
      @apply absolute bg-brand pointer-events-none rounded-lg;
      transition: 0.15s;
    }
    & li {
      padding-inline: var(--padding);
      z-index: 1;
      anchor-name:
        var(--anchor-name-hover, --noop-hover),
        var(--anchor-name-active, --noop-active);
    }
    & li:hover {
      --anchor-name-hover: --li-hover;
    }
    & li:has([aria-current="page"]) {
      --anchor-name-active: --li-active;
      --anchor-name-hover: --li-hover;
    }
    &:has(li:hover) li:has([aria-current="page"]):not(:hover) {
      anchor-name: var(--anchor-name-active, --noop-active);
    }
  }
}
